<footer class="footer">
  <small>
    The <a href="#/about">RxMagic Application</a>
    by <a href="#">Arielle Fischer</a>
    and <a href="#">Charles Kronk</a>
  </small>
  <nav>
    <ul>
      <li><a href="News">About</a></li>
      <li><a href="News">Contact</a></li>
      <li><a href="News">News</a></li>
    </ul>
  </nav>
</footer>