<% provide(:title, "About") %>

<div class="container">
  <div class="jumbotron">
    <h1>About RxMagic</h1>
  </div>
</div>

<br>

<h2>What is RxMAGIC?</h2>    
<p>Free clinic dispensaries face immeasurable challenges due to a complex, diverse, and medically vulnerable patient population 
in addition to a limited medication formulary. Our goal is to help pharmacists effectively and efficiently manage their resources 
while providing quality pharmaceutical services. By improving management tools and reducing duplicate efforts, we believe an information
system at the dispensary level will mitigate workflow challenges, improve provider communication, and enhance the process of medication 
management. Therefore, we created a system for Prescription Management and General Inventory Control (RxMAGIC) as an open source software 
platform that is designed to facilitate dispensary workflow and improve medication and inventory management.</p>

<br>

<h2>Who is RxMAGIC?</h2>
<p>RxMAGIC is a collaborative effort led by the University of Pittsburgh Department of Biomedical Informatics and the Birmingham Free 
Clinic, a free, walk-in clinic serving a medcially vulnerable population in Pittsburgh, Pennsylvania.</p>

<br>

<h2>RxMAGIC Features</h2>
<div> 
  <ul style="list-style-type:disc">
    <li>Inventory control</li>
    <li>Electronic dispensing</li>
    <li>Patient Assistance Program (PAP) application management</li>
    <li>Electronic reporting</li>
  </ul>
</div>





