<% provide(:title, "Contact Us") %>

<div class="container col-sm-12">
  <div class="jumbotron">
    <h1>Contact Us</h1>
  </div>

  <br>
  
  <p>We are happy to answer any questions and provide technical assistance when necessary. 
     Send us an email, our addresses are below.</p>
     
  <div>
    <ul style="list-style-type:disc">
      <li>Arielle Fisher: arf56@pitt.edu</li>
      <li>Charles Kronk: charles.kronk@gmail.com</li>
    </ul>
  </div>
</div>