<% provide(:title, "Home") %>
  
<div class="container">
  <div class="jumbotron">
    <h1>RxMagic</h1>      
    <p>Please make a selection below to begin.</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3"><a type="button" href="patients/new" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register a patient</a></div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><a type="button" href="patients" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find a patient</a></div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><a type="button" href="patients" class="btn btn-primary"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Dispense medication</a></div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> PAP Management <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Initiate Application</a></li>
          <li><a href="#">Update Application Status</a></li>
        </ul>
      </div></div>
      <div class="col-xs-12 col-sm-4 col-lg-3"><div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Inventory Management <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">General Inventory</a></li>
          <li><a href="#">PAP Inventory</a></li>
        </ul>
      </div></div>
    </div>
</div>