<% provide(:title, "Pharmaceutical Manufacturer") %>
<h1>Editing Pharm Manufacturer</h1>

<%= render 'form' %>

<%= link_to 'Show', @pharm_manufacturer %> |
<%= link_to 'Back', pharm_manufacturers_path %>
