<% provide(:title, "Edit Medication Rx Norm") %>
<h1>Editing Medications Rx Norm</h1>

<%= render 'form' %>

<%= link_to 'Show', @medications_rx_norm %> |
<%= link_to 'Back', medications_rx_norms_path %>
