// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  height: 100%;
  width: 100%;
}
.btn-group {
  height: 100%;
  width: 100%;
}